# Archivos Python
__pycache__/
*.py[cod]
*$py.class
*.so

# ENV
.venv/
venv/
env/
ENV/
bin/
lib/
.env
.env.local
.env.*
!.env.example

# Configuración de IDE's
.idea/
.vscode/
*.swp
*.swo


# Archivos SO
.DS_Store
Thumbs.db
desktop.ini

# Datos de entrenamiento muy pesados
data/raw/
data/processed/
*.csv
*.joblib
*.pkl
*.ipynb_checkpoints/

# Logs
*.log
htmlcov/
.tox/
.coverage